{% extends "base-auth.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% translate "Change Password" %} - {{ block.super }}
{% endblock title %}
{% block auth_header %}
  <h1 class="h3 mb-3 fw-normal">
    {% if token_fail %}
      {% translate "Bad Token" %}
    {% else %}
      {% translate "Change Password" %}
    {% endif %}
  </h1>
{% endblock auth_header %}
{% block content %}
  {% if token_fail %}
    <div class="alert alert-warning">
      {% translate "The password reset link was invalid. Please request a new password reset." %}
    </div>
  {% else %}
    <form method="post" action="{{ action_url }}">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="w-100 btn btn-primary" type="submit">{% translate "Change Password" %}</button>
    </form>
  {% endif %}
{% endblock content %}
