{% load static i18n %}

<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="{% url 'home' %}">
        <img class="mb-4"
             src="{% static 'assets/images/logo.png' %}"
             alt="Logo"
             height="30" />
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <i class="ti ti-dashboard"></i>
        </li>
        <li class="pc-item">
          <a href="{% url 'home' %}" class="pc-link">
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">{% translate "Home" %}</span>
          </a>
        </li>
        <li class="pc-item pc-caption">
          <label>{% translate "Elements" %}</label>
          <i class="ti ti-apps"></i>
        </li>
        <li class="pc-item">
          <a href="{% url 'bc_typography' %}"
             hx-get="{% url 'bc_typography' %}"
             hx-target="#content-area"
             class="pc-link">
            <span class="pc-micon"><i class="ti ti-typography"></i></span>
            <span class="pc-mtext">{% translate "Typography" %}</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{% url 'bc_color' %}"
             hx-get="{% url 'bc_color' %}"
             hx-target="#content-area"
             class="pc-link">
            <span class="pc-micon"><i class="ti ti-color-swatch"></i></span>
            <span class="pc-mtext">{% translate "Color" %}</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{% url 'icon-tabler' %}"
             hx-get="{% url 'icon-tabler' %}"
             hx-target="#content-area"
             class="pc-link">
            <span class="pc-micon"><i class="ti ti-plant-2"></i></span>
            <span class="pc-mtext">{% translate "Icons" %}</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{% url 'bc_modal' %}"
             hx-get="{% url 'bc_modal' %}"
             hx-target="#content-area"
             class="pc-link">
            <span class="pc-micon"><i class="ti ti-perspective"></i></span>
            <span class="pc-mtext">{% translate "Modal" %}</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{% url 'dash' %}"
             hx-get="{% url 'dash' %}"
             hx-target="#content-area"
             class="pc-link">
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">{% translate "Dashboard" %}</span>
          </a>
        </li>
        <li class="pc-item pc-caption">
          <label>{% translate "User Configuration" %}</label>
          <i class="ti ti-user-cog"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link">
            <span class="pc-micon"><i class="ti ti-settings"></i></span>
            <span class="pc-mtext">{% translate "User Settings" %}</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item">
              <a href="{% url 'users:update' %}"
                 hx-get="{% url 'users:update' %}"
                 hx-target="#content-area"
                 class="pc-link">
                <span class="pc-mtext">{% translate "My Info" %}</span>
              </a>
            </li>
            <li class="pc-item">
              <a href="{% url 'account_email' %}"
                 hx-get="{% url 'account_email' %}"
                 hx-target="#content-area"
                 class="pc-link">
                <span class="pc-mtext">{% translate "E-Mail" %}</span>
              </a>
            </li>
            <li class="pc-item">
              <a href="{% url 'mfa_index' %}"
                 hx-get="{% url 'mfa_index' %}"
                 hx-target="#content-area"
                 class="pc-link">
                <span class="pc-mtext">{% translate "MFA" %}</span>
              </a>
            </li>
            <li class="pc-item">
              <a href="{% url 'account_change_password' %}"
                 hx-get="{% url 'account_change_password' %}"
                 hx-target="#content-area"
                 class="pc-link">
                <span class="pc-mtext">{% translate "Change Password" %}</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="pc-item pc-caption">
          <label>{% translate "Other" %}</label>
          <i class="ti ti-brand-chrome"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link">
            <span class="pc-micon"><i class="ti ti-menu"></i></span>
            <span class="pc-mtext">{% translate "Menu levels" %}</span>
            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item">
              <a class="pc-link" href="#!">{% translate "Level 2.1" %}</a>
            </li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link">
                {% translate "Level 2.2" %}
                <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
              </a>
              <ul class="pc-submenu">
                <li class="pc-item">
                  <a class="pc-link" href="#!">{% translate "Level 3.1" %}</a>
                </li>
                <li class="pc-item">
                  <a class="pc-link" href="#!">{% translate "Level 3.2" %}</a>
                </li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">
                    {% translate "Level 3.3" %}
                    <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                  </a>
                  <ul class="pc-submenu">
                    <li class="pc-item">
                      <a class="pc-link" href="#!">{% translate "Level 4.1" %}</a>
                    </li>
                    <li class="pc-item">
                      <a class="pc-link" href="#!">{% translate "Level 4.2" %}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <div class="pc-navbar-card bg-primary rounded">
        <h4 class="text-white">{% translate "Explore full code" %}</h4>
        <p class="text-white opacity-75">{% translate "Buy now to get full access of code files" %}</p>
        <a href="#" target="_blank" class="btn btn-light text-primary">{% translate "Buy Now" %}</a>
      </div>
      <div class="w-100 text-center">
        <div class="badge theme-version badge rounded-pill bg-light text-dark f-12"></div>
      </div>
    </div>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
