{% load i18n %}

<div class="modal fade signout-modal"
     id="signOutModal"
     tabindex="-1"
     aria-labelledby="signOutModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signOutModalLabel">{% translate "Confirm Sign Out" %}</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="{% translate 'Close' %}"></button>
      </div>
      <div class="modal-body">{% translate "Are you sure you want to sign out?" %}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
        <form method="post" action="{% url 'account_logout' %}" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">{% translate "Sign Out" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
