{% load static i18n %}

<!-- jQuery first -->
<script src="{% static 'assets/js/plugins/jquery/jquery-3.7.0.min.js' %}"></script>
<!-- DataTables JS -->
<script src="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables/buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables/buttons/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables/responsive/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables/responsive/responsive.bootstrap5.min.js' %}"></script>
<!-- Export Buttons -->
<script src="{% static 'assets/js/plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables/buttons/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables/buttons/buttons.print.min.js' %}"></script>
<!-- SweetAlert2 -->
<script src="{% static 'assets/js/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
